<div ng-if="dsp.initialized" class="row">
    <div class="col-xs-12">
        <button class="btn btn-default pull-right dsp-toggle-panel" ng-click="dsp.togglePanel()">
            <i class="fa fa-caret-down" ng-show="dsp.showPanel"></i>
            <i class="fa fa-caret-right" ng-hide="dsp.showPanel"></i>
            <span ng-bind="dsp.showPanel ? 'Hide Search' : 'Show search'"></span>
        </button>
    </div>

    <div ng-show="dsp.showPanel" class="col-xs-12 dsp-form-container">
        <form name="dsp.searchForm" class="panel">

            <h3 class="card-title">Search</h3>

            <div class="col-xs-12">

                <div class="pull-left">
                    <span class="required-asterisk">*</span>
                    <label for="pricingInfoSearchStartDate" class="control-label">Start Date</label><br>
                    <input id="pricingInfoSearchStartDate" name="startDate" placeholder="ddMMMyyyy" ng-class="{'input-error': dsp.searchForm.startDate.$invalid && dsp.searchForm.startDate.$touched }" ng-model="dsp.dateStrings.startDate" data-k-ng-model="dsp.dates.startDate"
                        data-kendo-date-picker data-dsp-valid-date data-dsp-current-date data-dsp-date-range="{{ { comparisonDate: dsp.dateStrings.endDate, maxDiff: dsp.maxRange || dsp.defaultMaxRange } }}" data-dsp-time-paradox="{{ { endDate: dsp.dateStrings.endDate } }}"
                        data-dsp-future-date="{{ dsp.maxDateDiffDays - 1 }}" data-k-options="dsp.startDateOptions" ng-click="dsp.openDatePicker($event)" data-k-format="'ddMMMyyyy'" required />
                    <div class="date-to">to</div>
                    <div class="error-msg" ng-messages="dsp.searchForm.startDate.$error" ng-show="dsp.searchForm.startDate.$touched">
                        <span ng-message="required">Start date is required</span>
                        <span ng-message="timeParadox">Start date cannot be later than End date</span>
                        <span ng-message="currentDate">Start date cannot be earlier than the current date</span>
                        <span ng-message="dateRange">Start Date and End Date range cannot be greater than {{ dsp.maxRange || dsp.defaultMaxRange }} days</span>
                        <span ng-message="futureDate">Start date cannot be greater than {{ dsp.maxDateDiffDays - 1 }} days from current date</span>
                        <span ng-message="validDate">Invalid date format</span>
                    </div>
                </div>

                <div class="pull-left">
                    <span class="required-asterisk">*</span>
                    <label for="pricingInfoSearchEndDate" class="control-label">End Date</label><br>
                    <input id="pricingInfoSearchEndDate" name="endDate" placeholder="ddMMMyyyy" ng-class="{'input-error': dsp.searchForm.endDate.$invalid && dsp.searchForm.endDate.$touched }" ng-model="dsp.dateStrings.endDate" data-k-ng-model="dsp.dates.endDate" data-kendo-date-picker
                        data-dsp-valid-date data-dsp-current-date data-dsp-date-range="{{ { comparisonDate: dsp.dateStrings.startDate, maxDiff: dsp.maxRange || dsp.defaultMaxRange } }}" data-dsp-time-paradox="{{ { startDate: dsp.dateStrings.startDate } }}"
                        data-dsp-future-date="{{ dsp.maxDateDiffDays - 1 }}" data-k-options="dsp.endDateOptions" ng-click="dsp.openDatePicker($event)" data-k-format="'ddMMMyyyy'" required />
                    <div class="error-msg" ng-messages="dsp.searchForm.endDate.$error" ng-show="dsp.searchForm.endDate.$touched">
                        <span ng-message="required">End date is required</span>
                        <span ng-message="timeParadox">End date cannot be earlier than Start date</span>
                        <span ng-message="currentDate">End date cannot be earlier than the current date</span>
                        <span ng-message="dateRange">Start Date and End Date range cannot be greater than {{ dsp.maxRange || dsp.defaultMaxRange }} days</span>
                        <span ng-message="futureDate">End date cannot be greater than {{ dsp.maxDateDiffDays - 1 }} days from current date</span>
                        <span ng-message="validDate">Invalid date format</span>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 align-right">
                <button type="button" class="btn btn-default" ng-click="dsp.reset()">Reset</button>
                <button type="button" class="btn btn-primary" ng-click="dsp.handleSearch()" ng-disabled="dsp.searchForm.$invalid">Search</button>
            </div>

            <div class="clearfix">
                <br>
            </div>
        </form>
    </div>
</div>