<div class="modal-content" id="defaultModal">
    <div class="modal-header">
        <button name="closeHeaderBtn" uib-tooltip="Close" tooltip-placement="left" aria-hidden="true" class="close" data-dismiss="modal" ng-click="modalOptions.close()" type="button">×
        </button>
        <h4 class="modal-title ng-binding" ng-bind="modalOptions.headerText">
        </h4>
    </div>
    <div class="modal-body">
        <p class="modal-message" ng-bind="modalOptions.message"></p>
    </div>
    <div class="modal-footer">
        <button name="cancelDefaultModalBtn" type="button" data-dismiss="modal" class="btn btn-default" ng-click="modalOptions.close()">
            <span ng-bind="modalOptions.closeButtonText"></span>
        </button>
        <button name="submitDefaultModalBtn" type="button" data-dismiss="modal" class="btn btn-primary" ng-click="modalOptions.ok()">
            <span ng-bind="modalOptions.actionButtonText"></span>
        </button>
    </div>
</div>