<div ng-if="usp.initialized" class="row grid-noPadding search-panel">
    <div class="col-md-12 grid-noPadding">
        <button class="btn btn-default pull-right panel-toggle-btn" ng-click="usp.togglePanel()">
            <i class="fa fa-caret-down" ng-show="usp.showPanel"></i>
            <i class="fa fa-caret-right" ng-hide="usp.showPanel"></i>
            <span ng-bind="usp.showPanel ? 'Hide Search' : 'Show Search'"></span>
        </button>
    </div>
    <div ng-show="usp.showPanel" class="col-md-12 usp-form-container panel grid-noPadding">
        <form name="usp.searchForm">
            <h3 class="card-title">Search Criteria</h3>
            <div class="col-md-12">
                <div class="col-md-2 form-group">
                    <label for="user-name">Username</label><br/>
                    <input id="user-name" class="form-control" name="userName" ng-model="usp.searchUser.qUserName" />
                </div>
                <div class="col-md-2 form-group">
                    <label for="first-name">First Name</label><br/>
                    <input id="first-name" class="form-control" name="firstName" ng-model="usp.searchUser.qFirstName" />
                </div>
                <div class="col-md-2 form-group">
                    <label for="last-name">Last Name</label><br/>
                    <input id="last-name" class="form-control" name="lastName" ng-model="usp.searchUser.qLastName" />
                </div>
                <div class="col-md-2 form-group">
                    <label for="role">Role</label><br/>
                    <input id="role" class="form-control" name="role" ng-model="usp.searchUser.qRole" />
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-2 form-group">
                    <label for="email">Email</label><br/>
                    <input id="email" class="form-control" name="email" ng-model="usp.searchUser.qEmail" />
                </div>
                <div class="col-md-2 form-group">
                    <label for="hotel-id">Hotel ID</label><br/>
                    <input id="hotel-id" class="form-control" name="hotelId" ng-model="usp.searchUser.qHotel" />
                </div>
                <div class="col-md-2 form-group">
                    <label for="domain">Domain</label><br/>
                    <select id="domain" class="form-control" ng-model="usp.searchUser.qDomain" ng-options="domain.domainValue as domain.domainName for domain in usp.domains">
                    </select>
                </div>
            </div>
            <div class="col-md-12 align-right">
                <button type="button" class="btn btn-default" ng-click="usp.clearFields()">Reset</button>
                <button type="button" class="btn btn-primary" ng-click="usp.handleSearch()">Search</button>
                <br><br>
            </div>
        </form>
    </div>
</div>