<ng-form name="dtd.dateForm">
    <div class="col-xs-12">
        <div class="pull-left">
            <span class="required-asterisk">*&nbsp;</span>
            <label for="rangeStartDate" class="control-label">Start date</label><br>
            <input id="rangeStartDate" name="startDate" placeholder="ddMMMyyyy" ng-class="{'input-error': dtd.dateForm.startDate.$invalid && dtd.dateForm.startDate.$touched }" ng-model="dtd.dateStrings.startDate" data-k-ng-model="dtd.dates.startDate" data-kendo-date-picker
                data-dtd-valid-date data-dtd-current-date="{{dtd.pastActiveDate}}" data-dtd-date-range="{{ { minDate: dtd.minDate, maxDate: dtd.maxDate } }}" data-dtd-time-paradox="{{ { endDate: dtd.dateStrings.endDate } }}" data-k-options="dtd.startDateOptions"
                ng-click="dtd.openDatePicker($event)" ng-change="dtd.inputChange()" data-k-format="'ddMMMyyyy'" required/>
            <div class="date-to">to</div>
            <div class="error-msg" ng-messages="dtd.dateForm.startDate.$error" ng-show="dtd.dateForm.startDate.$touched">
                <span ng-message="required">{{dtd.error.fields.startDate}}&nbsp;{{dtd.error.messages.required}}</span>
                <span ng-message="timeParadox">{{dtd.error.fields.startDate}}&nbsp;{{dtd.error.messages.timeParadoxStartDate}}</span>
                <span ng-message="currentDate">{{dtd.error.fields.startDate}}&nbsp;{{dtd.error.messages.currentDate}}</span>
                <span ng-message="dateRange">{{dtd.error.fields.startDate}}&nbsp;{{dtd.error.messages.dateRange}}</span>
                <span ng-message="validDate">{{dtd.error.messages.validDate}}</span>

            </div>
        </div>

        <div class="pull-left">
            <span class="required-asterisk">*&nbsp;</span>
            <label for="rangeEndDate" class="control-label">End date</label><br>
            <input id="rangeEndDate" name="endDate" placeholder="ddMMMyyyy" ng-class="{'input-error': dtd.dateForm.endDate.$invalid && dtd.dateForm.endDate.$touched }" ng-model="dtd.dateStrings.endDate" data-k-ng-model="dtd.dates.endDate" data-kendo-date-picker data-dtd-valid-date
                data-dtd-current-date data-dtd-date-range="{{ { minDate: dtd.minDate, maxDate: dtd.maxDate } }}" data-dtd-time-paradox="{{ { startDate: dtd.dateStrings.startDate } }}" data-k-options="dtd.endDateOptions" ng-click="dtd.openDatePicker($event)"
                ng-change="dtd.inputChange()" data-k-format="'ddMMMyyyy'" required/>
            <div class="error-msg" ng-messages="dtd.dateForm.endDate.$error" ng-show="dtd.dateForm.endDate.$touched">
                <span ng-message="required">{{dtd.error.fields.endDate}}&nbsp;{{dtd.error.messages.required}}</span>
                <span ng-message="timeParadox">{{dtd.error.fields.endDate}}&nbsp;{{dtd.error.messages.timeParadoxEndDate}}</span>
                <span ng-message="currentDate">{{dtd.error.fields.endDate}}&nbsp;{{dtd.error.messages.currentDate}}</span>
                <span ng-message="dateRange">{{dtd.error.fields.endDate}}&nbsp;{{dtd.error.messages.dateRange}}</span>
                <span ng-message="validDate">{{dtd.error.messages.validDate}}</span>
            </div>
        </div>
    </div>
</ng-form>